fastapi
uvicorn
firebase-admin
pyrebase4
requests
pylint
awsebcli
gunicorn
fastapi-cors
python-multipart
boto3
pydantic[email]
python-dotenv
pydantic-settings
sendgrid
reportlab
WeasyPrint>=60.1
Jinja2>=3.1.2
